<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel = "stylesheet" href = "{% static 'css/std.css' %}">
	<meta charset="utf-8">
	<title>{% block title %}Set Tayo ng Date{% endblock %}</title>
</head>
<body>
	<div class = "navbar">
		<div id = "bannertitle"><h1><a href = "home">Set Tayo ng Date<a></h1></div>
		<!-- <div class = "nav">
			<ul>
				<li>Hi, <a href = "profile" id = "userlink">username </a> </li>
				<li><button type = "submit"> Log Out </button></li>
				{% if user.is_authenticated %}
				Hi {{ user.username }}
				<a href="{% url 'logout' %}">logout</a>
				{% endif %}
			</ul>
		</div> -->
	</div>
  		<main>
    		{% block content %}

    		{% endblock %}
  		</main>
  	<hr>
  	<footer>
    	<a href="google.com">(c) Manifold Cheddar</a>
  	</footer>
</body>
</html>