{% extends 'std/base.html' %}
{% block title %}Create Meet Up{% endblock %}

{% block content %}
<div>
	<div class = "signupform">
		<h1>List of Contacts</h1>
		<form action="{% url 'createmeetup2' %}" method="">
			Person 1 <input type="checkbox" name="" value=""> <br>
			Person 2 <input type="checkbox" name="" value=""> <br>
			Person 3 <input type="checkbox" name="" value=""> <br>
			Person 4 <input type="checkbox" name="" value=""> <br>
	</div>
	<div class="cmubuttons">
			<input type="submit" value="Next Step">
		</form>
		<form action="{% url 'profile' %}">
			<input type="submit" value="Cancel">
		</form>
	</div>
</div>
{% endblock %}