{% extends 'std\base.html' %}


{% block title %}Set Tayo ng Date{% endblock %}

{% block content %}
<div class="divtable">
	<div id="homenav">
		<p>Edit your information and your schedule</p>
		<p>*Image here*</p>
		<p>Name:</p>
		<p>E-mail:</p>
		<p>Contact Number: </p>
		<p>Facebook account:</p>
		<p>Twitter account: </p>
		<form action="{% url 'saveprofile' %}" method="post">				<!--gawing method=post-->
			{% csrf_token %}
			<!--<input id="forms1" type="text" name="" value="" placeholder = "Name">
			<input id="forms1" type="text" name="" value="" placeholder = "E-mail">
			<input id="forms1" type="text" name="" value="" placeholder = "Contact number">
			<input id="forms1" type="text" name="" value="" placeholder = "Facebook account">
			<input id="forms1" type="text" name="" value="" placeholder = "Twitter account">-->
			<input type="text" id="schedule" name="schedule" value="{{ schedule }}" hidden>
			<button type="submit"> Save changes </button>
		</form>
		<form action="{% url 'profile' %}">
			<input type="submit" value="Cancel">
		</form>
	</div>
	
	<div id="schedtable">
		<table>
			<caption> Your Weekly Schedule </caption>
			<tr>
				<td id="label">Time</td>
				<td id="label">Mon</td>
				<td id="label">Tue</td>
				<td id="label">Wed</td>
				<td id="label">Thu</td>
				<td id="label">Fri</td>
				<td id="label">Sat</td>
			</tr>
			<tr>
				<td id="schedtime">07:00 AM - 07:30 AM</td>
				<td id="M1" class = "schedday">     </td>
				<td id="T1" class = "schedday">     </td>
				<td id="W1" class = "schedday">     </td>
				<td id="H1" class = "schedday">     </td>
				<td id="F1" class = "schedday">     </td>
				<td id="S1" class = "schedday">     </td>
			</tr>
			<tr>
				<td id="schedtime">07:30 AM - 08:00 AM</td>
				<td id="M2">     </td>
				<td id="T2">     </td>
				<td id="W2">     </td>
				<td id="H2">     </td>
				<td id="F2">     </td>
				<td id="S2">     </td>
			</tr>
			<tr>
				<td id="schedtime">08:00 AM - 08:30 AM</td>
				<td id="M3">     </td>
				<td id="T3">     </td>
				<td id="W3">     </td>
				<td id="H3">     </td>
				<td id="F3">     </td>
				<td id="S3">     </td>
			</tr>
			<tr>
				<td id="schedtime">08:30 AM - 09:00 AM</td>
				<td id="M4">     </td>
				<td id="T4">     </td>
				<td id="W4">     </td>
				<td id="H4">     </td>
				<td id="F4">     </td>
				<td id="S4">     </td>
			</tr>
			<tr>
				<td id="schedtime">09:00 AM - 09:30 AM</td>
				<td id="M5">     </td>
				<td id="T5">     </td>
				<td id="W5">     </td>
				<td id="H5">     </td>
				<td id="F5">     </td>
				<td id="S5">     </td>
			</tr>
			<tr>
				<td id="schedtime">09:30 AM - 10:00 AM</td>
				<td id="M6">     </td>
				<td id="T6">     </td>
				<td id="W6">     </td>
				<td id="H6">     </td>
				<td id="F6">     </td>
				<td id="S6">     </td>
			</tr>
			<tr>
				<td id="schedtime">10:00 AM - 10:30 AM</td>
				<td id="M7">     </td>
				<td id="T7">     </td>
				<td id="W7">     </td>
				<td id="H7">     </td>
				<td id="F7">     </td>
				<td id="S7">     </td>
			</tr>
			<tr>
				<td id="schedtime">10:30 AM - 11:00 AM</td>
				<td id="M8">     </td>
				<td id="T8">     </td>
				<td id="W8">     </td>
				<td id="H8">     </td>
				<td id="F8">     </td>
				<td id="S8">     </td>
			</tr>
			<tr>
				<td id="schedtime">11:00 AM - 11:30 AM</td>
				<td id="M9">     </td>
				<td id="T9">     </td>
				<td id="W9">     </td>
				<td id="H9">     </td>
				<td id="F9">     </td>
				<td id="S9">     </td>
			</tr>
			<tr>
				<td id="schedtime">11:30 AM - 12:00 PM</td>
				<td id="M10">     </td>
				<td id="T10">     </td>
				<td id="W10">     </td>
				<td id="H10">     </td>
				<td id="F10">     </td>
				<td id="S10">     </td>
			</tr>
			<tr>
				<td id="schedtime">12:00 PM - 12:30 PM</td>
				<td id="M11">     </td>
				<td id="T11">     </td>
				<td id="W11">     </td>
				<td id="H11">     </td>
				<td id="F11">     </td>
				<td id="S11">     </td>
			</tr>
			<tr>
				<td id="schedtime">12:30 PM - 01:00 PM</td>
				<td id="M12">     </td>
				<td id="T12">     </td>
				<td id="W12">     </td>
				<td id="H12">     </td>
				<td id="F12">     </td>
				<td id="S12">     </td>
			</tr>
			<tr>
				<td id="schedtime">01:00 PM - 01:30 PM</td>
				<td id="M13">     </td>
				<td id="T13">     </td>
				<td id="W13">     </td>
				<td id="H13">     </td>
				<td id="F13">     </td>
				<td id="S13">     </td>
			</tr>
			<tr>
				<td id="schedtime">01:30 PM - 02:00 PM</td>
				<td id="M14">     </td>
				<td id="T14">     </td>
				<td id="W14">     </td>
				<td id="H14">     </td>
				<td id="F14">     </td>
				<td id="S14">     </td>
			</tr>
			<tr>
				<td id="schedtime">02:00 PM - 02:30 PM</td>
				<td id="M15">     </td>
				<td id="T15">     </td>
				<td id="W15">     </td>
				<td id="H15">     </td>
				<td id="F15">     </td>
				<td id="S15">     </td>
			</tr>
			<tr>
				<td id="schedtime">02:30 PM - 03:00 PM</td>
				<td id="M16">     </td>
				<td id="T16">     </td>
				<td id="W16">     </td>
				<td id="H16">     </td>
				<td id="F16">     </td>
				<td id="S16">     </td>
			</tr>
			<tr>
				<td id="schedtime">03:00 PM - 03:30 PM</td>
				<td id="M17">     </td>
				<td id="T17">     </td>
				<td id="W17">     </td>
				<td id="H17">     </td>
				<td id="F17">     </td>
				<td id="S17">     </td>
			</tr>
			<tr>
				<td id="schedtime">03:30 PM - 04:00 PM</td>
				<td id="M18">     </td>
				<td id="T18">     </td>
				<td id="W18">     </td>
				<td id="H18">     </td>
				<td id="F18">     </td>
				<td id="S18">     </td>
			</tr>
			<tr>
				<td id="schedtime">04:00 PM - 04:30 PM</td>
				<td id="M19">     </td>
				<td id="T19">     </td>
				<td id="W19">     </td>
				<td id="H19">     </td>
				<td id="F19">     </td>
				<td id="S19">     </td>
			</tr>
			<tr>
				<td id="schedtime">04:30 PM - 05:00 PM</td>
				<td id="M20">     </td>
				<td id="T20">     </td>
				<td id="W20">     </td>
				<td id="H20">     </td>
				<td id="F20">     </td>
				<td id="S20">     </td>
			</tr>
			<tr>
				<td id="schedtime">05:00 PM - 05:30 PM</td>
				<td id="M21">     </td>
				<td id="T21">     </td>
				<td id="W21">     </td>
				<td id="H21">     </td>
				<td id="F21">     </td>
				<td id="S21">     </td>
			</tr>
			<tr>
				<td id="schedtime">05:30 PM - 06:00 PM</td>
				<td id="M22">     </td>
				<td id="T22">     </td>
				<td id="W22">     </td>
				<td id="H22">     </td>
				<td id="F22">     </td>
				<td id="S22">     </td>
			</tr>
			<tr>
				<td id="schedtime">06:00 PM - 06:30 PM</td>
				<td id="M23">     </td>
				<td id="T23">     </td>
				<td id="W23">     </td>
				<td id="H23">     </td>
				<td id="F23">     </td>
				<td id="S23">     </td>
			</tr>
			<tr>
				<td id="schedtime">06:30 PM - 07:00 PM</td>
				<td id="M24">     </td>
				<td id="T24">     </td>
				<td id="W24">     </td>
				<td id="H24">     </td>
				<td id="F24">     </td>
				<td id="S24">     </td>
			</tr>
		</table>
	</div>
</div>
<button onclick="myFunction()">Try it</button>

<p id="demo"></p>
<script>
	var all = document.getElementsByTagName("td");
	var array = new Array();
	window.onload = function(){

		for (var i=0;i<all.length;i++) {
			if(all[i].id != "schedtime" && all[i].id != "label"){
				all[i].onclick = inputClickHandler;
			}
		}
	};

	function inputClickHandler(e){
		e = e||window.event;
		var tdElm = e.target||e.srcElement;
		if(tdElm.style.backgroundColor == 'rgb(255, 0, 0)'){
			tdElm.style.backgroundColor = '#fff';
			array = array.filter(item => item!==tdElm.id);	//remove from array
			array.join()
			document.getElementById('schedule').value=array;
		} else {
			tdElm.style.backgroundColor = '#f00';
			array.push(tdElm.id);		//add to array
			array.join()
			document.getElementById('schedule').value=array;
			document.getElementById("demo").innerHTML = document.getElementById('schedule').value
		}
	}
	
	function myFunction() {
		document.getElementById("demo").innerHTML = document.getElementById('schedule').value;
	}
	
</script>
{% endblock %}