{% extends 'std\base.html' %}
{% block title %}Login{% endblock %}


{% block content %}
<div>
		<div class = "info">
			<h1>Welcome to Set Tayo ng Date!</h1>
			<p>put intro about web app here</p>
		</div>
		<div class = "forms">
			<div class = "loginform">
				<h2>Log in</h2>
				{% if fail == True %}
				<p>*Username or Password is incorrect</p>
				{% else %}
				<p></p>
				{% endif %}
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<input id="forms1" type="text" name="uname" value="{{ uname }}" placeholder = "Username">
					<br>
					<input id="forms1" type="password" name="passw" value="{{ passw }}" placeholder = "Password">
					<br>
					<button type="submit">Log in</button>
				</form>
			</div>
			
			<div class = "registerform">
				<h2> Not yet registered? </h2>
				<h3>Register now! </h3>
				{% if passerror == 1 %}
				<p>*Passwords do not match</p>
				{% elif passerror == 2 %}
				<p>*Username already exists, please choose a different one</p>
				{% else %}
				<p></p>
				{% endif %}
				<form action="{% url 'register' %}" method="post">
					{% csrf_token %}
					<input id="forms1" type="text" name="uname" value="{{ uname }}" placeholder = "Username">
					<br>
					<input id="forms1" type="text" name="identity" value="{{ identity }}" placeholder="Your Name">
					<br>
					<input id="forms1" type="password" name="passw" value="{{ passw }}" placeholder = "Password">
					<br>
					<input id="forms1" type="password" name="passw2" value="{{ passw2 }}" placeholder="Confirm Password">
					<br>
					<button type="submit">Register</button>
				</form>
			</div>
		</div>
</div>
{% endblock %}
