{% extends 'std/base.html' %}


{% block title %}Set Tayo ng Date{% endblock %}

{% block content %}
<div class="divtable">
	<div id="homenav">
		<p> Hi {{name}}</p>
		Meeting sched: {{cmu}}<br>
		Users to meet: {{users}}
		<label class="dropdown" id ="dd1" onclick="changetext1()">&#9660;Meet up requests</label>
		<input type="checkbox">
		<div id ="ddmeet">No meet ups</div>
		<label class="dropdown" id ="dd2" onclick="changetext2()">&#9660;Contact requests</label>
		<input type="checkbox">
		<div id ="ddcontact">No request</div>
		<label class="dropdown" id ="dd3" onclick="changetext3()">&#9660;Your Contacts</label>
		<input type="checkbox">
		<div id ="ddyours">No contact</div>
		<form action="{% url 'editprofile' %}">
			<input type="submit" value="Edit Profile">
		</form>
		<form action="{% url 'createmeetup' %}" method="">
			<input type="submit" value="Create Meet Up Schedule">
		</form>
		<form action="{% url 'logout' %}">
			<input type="submit" value="logout">
		</form>
	</div>
	
	<div id="schedtable">
		<table>
			<caption> Your Weekly Schedule </caption>
			<tr>
				<td id="label">Time</td>
				<td id="label">Mon</td>
				<td id="label">Tue</td>
				<td id="label">Wed</td>
				<td id="label">Thu</td>
				<td id="label">Fri</td>
				<td id="label">Sat</td>
			</tr>
			<tr>
				<td id="schedtime">07:00 AM - 07:30 AM</td>
				<td id="M1" class = "schedday">     </td>
				<td id="T1" class = "schedday">     </td>
				<td id="W1" class = "schedday">     </td>
				<td id="H1" class = "schedday">     </td>
				<td id="F1" class = "schedday">     </td>
				<td id="S1" class = "schedday">     </td>
			</tr>
			<tr>
				<td id="schedtime">07:30 AM - 08:00 AM</td>
				<td id="M2">     </td>
				<td id="T2">     </td>
				<td id="W2">     </td>
				<td id="H2">     </td>
				<td id="F2">     </td>
				<td id="S2">     </td>
			</tr>
			<tr>
				<td id="schedtime">08:00 AM - 08:30 AM</td>
				<td id="M3">     </td>
				<td id="T3">     </td>
				<td id="W3">     </td>
				<td id="H3">     </td>
				<td id="F3">     </td>
				<td id="S3">     </td>
			</tr>
			<tr>
				<td id="schedtime">08:30 AM - 09:00 AM</td>
				<td id="M4">     </td>
				<td id="T4">     </td>
				<td id="W4">     </td>
				<td id="H4">     </td>
				<td id="F4">     </td>
				<td id="S4">     </td>
			</tr>
			<tr>
				<td id="schedtime">09:00 AM - 09:30 AM</td>
				<td id="M5">     </td>
				<td id="T5">     </td>
				<td id="W5">     </td>
				<td id="H5">     </td>
				<td id="F5">     </td>
				<td id="S5">     </td>
			</tr>
			<tr>
				<td id="schedtime">09:30 AM - 10:00 AM</td>
				<td id="M6">     </td>
				<td id="T6">     </td>
				<td id="W6">     </td>
				<td id="H6">     </td>
				<td id="F6">     </td>
				<td id="S6">     </td>
			</tr>
			<tr>
				<td id="schedtime">10:00 AM - 10:30 AM</td>
				<td id="M7">     </td>
				<td id="T7">     </td>
				<td id="W7">     </td>
				<td id="H7">     </td>
				<td id="F7">     </td>
				<td id="S7">     </td>
			</tr>
			<tr>
				<td id="schedtime">10:30 AM - 11:00 AM</td>
				<td id="M8">     </td>
				<td id="T8">     </td>
				<td id="W8">     </td>
				<td id="H8">     </td>
				<td id="F8">     </td>
				<td id="S8">     </td>
			</tr>
			<tr>
				<td id="schedtime">11:00 AM - 11:30 AM</td>
				<td id="M9">     </td>
				<td id="T9">     </td>
				<td id="W9">     </td>
				<td id="H9">     </td>
				<td id="F9">     </td>
				<td id="S9">     </td>
			</tr>
			<tr>
				<td id="schedtime">11:30 AM - 12:00 PM</td>
				<td id="M10">     </td>
				<td id="T10">     </td>
				<td id="W10">     </td>
				<td id="H10">     </td>
				<td id="F10">     </td>
				<td id="S10">     </td>
			</tr>
			<tr>
				<td id="schedtime">12:00 PM - 12:30 PM</td>
				<td id="M11">     </td>
				<td id="T11">     </td>
				<td id="W11">     </td>
				<td id="H11">     </td>
				<td id="F11">     </td>
				<td id="S11">     </td>
			</tr>
			<tr>
				<td id="schedtime">12:30 PM - 01:00 PM</td>
				<td id="M12">     </td>
				<td id="T12">     </td>
				<td id="W12">     </td>
				<td id="H12">     </td>
				<td id="F12">     </td>
				<td id="S12">     </td>
			</tr>
			<tr>
				<td id="schedtime">01:00 PM - 01:30 PM</td>
				<td id="M13">     </td>
				<td id="T13">     </td>
				<td id="W13">     </td>
				<td id="H13">     </td>
				<td id="F13">     </td>
				<td id="S13">     </td>
			</tr>
			<tr>
				<td id="schedtime">01:30 PM - 02:00 PM</td>
				<td id="M14">     </td>
				<td id="T14">     </td>
				<td id="W14">     </td>
				<td id="H14">     </td>
				<td id="F14">     </td>
				<td id="S14">     </td>
			</tr>
			<tr>
				<td id="schedtime">02:00 PM - 02:30 PM</td>
				<td id="M15">     </td>
				<td id="T15">     </td>
				<td id="W15">     </td>
				<td id="H15">     </td>
				<td id="F15">     </td>
				<td id="S15">     </td>
			</tr>
			<tr>
				<td id="schedtime">02:30 PM - 03:00 PM</td>
				<td id="M16">     </td>
				<td id="T16">     </td>
				<td id="W16">     </td>
				<td id="H16">     </td>
				<td id="F16">     </td>
				<td id="S16">     </td>
			</tr>
			<tr>
				<td id="schedtime">03:00 PM - 03:30 PM</td>
				<td id="M17">     </td>
				<td id="T17">     </td>
				<td id="W17">     </td>
				<td id="H17">     </td>
				<td id="F17">     </td>
				<td id="S17">     </td>
			</tr>
			<tr>
				<td id="schedtime">03:30 PM - 04:00 PM</td>
				<td id="M18">     </td>
				<td id="T18">     </td>
				<td id="W18">     </td>
				<td id="H18">     </td>
				<td id="F18">     </td>
				<td id="S18">     </td>
			</tr>
			<tr>
				<td id="schedtime">04:00 PM - 04:30 PM</td>
				<td id="M19">     </td>
				<td id="T19">     </td>
				<td id="W19">     </td>
				<td id="H19">     </td>
				<td id="F19">     </td>
				<td id="S19">     </td>
			</tr>
			<tr>
				<td id="schedtime">04:30 PM - 05:00 PM</td>
				<td id="M20">     </td>
				<td id="T20">     </td>
				<td id="W20">     </td>
				<td id="H20">     </td>
				<td id="F20">     </td>
				<td id="S20">     </td>
			</tr>
			<tr>
				<td id="schedtime">05:00 PM - 05:30 PM</td>
				<td id="M21">     </td>
				<td id="T21">     </td>
				<td id="W21">     </td>
				<td id="H21">     </td>
				<td id="F21">     </td>
				<td id="S21">     </td>
			</tr>
			<tr>
				<td id="schedtime">05:30 PM - 06:00 PM</td>
				<td id="M22">     </td>
				<td id="T22">     </td>
				<td id="W22">     </td>
				<td id="H22">     </td>
				<td id="F22">     </td>
				<td id="S22">     </td>
			</tr>
			<tr>
				<td id="schedtime">06:00 PM - 06:30 PM</td>
				<td id="M23">     </td>
				<td id="T23">     </td>
				<td id="W23">     </td>
				<td id="H23">     </td>
				<td id="F23">     </td>
				<td id="S23">     </td>
			</tr>
			<tr>
				<td id="schedtime">06:30 PM - 07:00 PM</td>
				<td id="M24">     </td>
				<td id="T24">     </td>
				<td id="W24">     </td>
				<td id="H24">     </td>
				<td id="F24">     </td>
				<td id="S24">     </td>
			</tr>
		</table>
	</div>
<!--<button onclick="myFunction()">Try it</button>

<p id="demo"></p>-->
</div>

<script>
	//get sched from database
	var json = "{{sched}}".replace(/&quot;/g,"\"")	//bookmark reference code
	if(json!=""){
		var array = new Array();
		array = json.split(",");
		
		//color the table
		for(var i=0;i<array.length;i++){
			document.getElementById(array[i]).style.backgroundColor = "#f00";
		}
	}
	var rightArrow = '\u25b6';
	var downArrow =  '\u25bc';
	function changetext1(){
		if(document.getElementById('dd1').innerHTML == downArrow+'Meet up requests'){
			document.getElementById('dd1').innerHTML = rightArrow+'Meet up requests';
			document.getElementById('ddmeet').style.display = 'none';
		} else if (document.getElementById('dd1').innerHTML == rightArrow+'Meet up requests'){
			document.getElementById('dd1').innerHTML = downArrow+'Meet up requests';
			document.getElementById('ddmeet').style.display = 'block';
		}
		
	}
	
	//show/hide and change text of contact requests
	function changetext2(){
		if(document.getElementById('dd2').innerHTML == downArrow+'Contact requests'){
			document.getElementById('dd2').innerHTML = rightArrow+'Contact requests';
			document.getElementById('ddcontact').style.display = 'none';
		} else if (document.getElementById('dd2').innerHTML == rightArrow+'Contact requests'){
			document.getElementById('dd2').innerHTML = downArrow+'Contact requests';
			document.getElementById('ddcontact').style.display = 'block';
		}
	}
	
	//show/hide and change text of your contacts
	function changetext3(){
		if(document.getElementById('dd3').innerHTML == downArrow+'Your Contacts'){
			document.getElementById('dd3').innerHTML = rightArrow+'Your Contacts';
			document.getElementById('ddyours').style.display = 'none';
		} else if (document.getElementById('dd3').innerHTML == rightArrow+'Your Contacts'){
			document.getElementById('dd3').innerHTML = downArrow+'Your Contacts';
			document.getElementById('ddyours').style.display = 'block';
		}
	}
	/*function myFunction() {
		document.getElementById("demo").innerHTML = array;
	}*/
	
</script>
{% endblock %}