<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Set Tayo ng Date{% endblock %}</title>
</head>
<body>
	<header>
		<h1>Set Tayo ng Date</h1>
    </header>
  	<hr>
  		<main>
  			  <form action="" method="post">
			  {% csrf_token %}
			  	<label for="uname">Username: </label>
			  	<input id="uname" type="text" name="uname" value="{{ uname }}">
			  	<br>
			  	<label for="passw">Password: </label>
			  	<input id="passw" type="password" name="passw" value="{{ passw }}">
			  	<!-- add more credentials here -->
			  	<br>
			  	<button type="submit">Login</button>
			  </form>

			  <form action="login/" method="post">
			  {% csrf_token %}
			  	<label for="uname">Username: </label>
			  	<input id="uname" type="text" name="uname" value="{{ uname }}">
			  	<br>
			  	<label for="passw">Password: </label>
			  	<input id="passw" type="password" name="passw" value="{{ passw }}">
			  	<!-- add more credentials here -->
			  	<br>
			  	<button type="submit">Register</button>
			  </form>


  		</main>
  	<hr>
  	<footer>
    	<a href="google.com">(c) Manifold Cheddar</a>
  	</footer>
</body>
</html>



